.container {

    width: 100%;
    padding: 0rem 1rem;
    padding-bottom: 2rem;

    .header {

        h1 {
            font-weight: 800;
            align-items: center;
            text-align: center;
        }

        hr {
            background-color: var(--light-border);
            margin: 1rem;
        }

        .cancelButton {
            height: 3rem;
            padding: 0.9rem 0.7rem 0.9rem 0.7rem;
            border-radius: 4rem;
            border: var(--red) solid 1px;
            text-decoration: none;
            color: var(--white);
            transition: background-color 0.3s;
            background-color: var(--red);

            &:hover {
                background-color: var(--light-red-300);
                color: var(--white);
            }
        }
    }


    .content {


        .details {

            span {
                margin-right: 1rem;
            }

            img {
                width: 1rem;
                margin-left: .5rem;
            }

            .comboBox {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                border: 1px solid var(--light-border);
                border-radius: 0.5rem;
                outline: none;
                padding: 0.7rem;
            }


        }

        .title {
            margin-bottom: 1.5rem;

            h2 {
                font-weight: 800;
                align-items: center;
                text-align: center;
            }

        }
    }

}