.leftMsg {
    display: flex;
    align-items: flex-end;
    margin-bottom: .2rem;

    .msgBubble {
        border: 2px solid var(--light-border);
        min-width: 40%;
        max-width: 80%;
        background-color: #e2e0e0;
        box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, .2);
        padding: .8rem;
        border-radius: 1rem;
        //background: #579ffb;
        border-bottom-left-radius: 0;

        .autor {
            font-size: .8rem;
            font-weight: 600;
            color: black;
            padding-bottom: .5rem;
        }

        .hour {
            float: right;
            font-size: .8rem;

        }

        .anexo {
            border-radius: .5rem;
            font-size: .9rem;
            width: 7rem;
            height: 2.5rem;
            background-color: #d4d4d4;
            border: 1px solid var(--light-border);
            color: var(--gray-800);
            margin: .4rem 0rem;
    
            &:hover {
                background-color: #c5c5cc;
                color: black;
            }
        }

    }
}