.rightMsg {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: .3rem;
    
    .msgBubble {
        border: 2px solid var(--light-border);
        min-width: 40%;
        max-width: 80%;
        box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .2);
        padding: .8rem;
        border-radius: 1rem;
        border-bottom-right-radius: 0;
        font-size: .9rem;

        p{
            padding: .4rem 0rem;
            font-size: .9rem;
        }

        .trash {
            color: var(--light-red-300);
            float: right;
            background: transparent;
            border: none;
            float: right;
            padding: .2rem;
            font-size: 1rem;
    
            &:hover {
                background-color: #d1ecb9;
                border-radius: .4rem;
                color: var(--red-500);
                ;
            }
        }

        .autor {
            font-size: .8rem;
            font-weight: 600;
            color: black;
        }

        .hour {
            float: right;
            font-size: .8rem;

        }

        .anexo {
            border-radius: .5rem;
            font-size: .9rem;
            width: 7rem;
            height: 2.5rem;
            background-color: #acdd82;
            border: 1px solid var(--light-border);
            color: var(--gray-800);
            margin: .4rem 0rem;
    
            &:hover {
                background-color: #88b65f;
                color: black;
            }
        }
    }
}