:root {
    --white: #FFF;
  
    --gray-50: #edf4f2;
    --gray-100: #E6E8EB;
    --gray-200: #AFB2B1;
    --light-gray: #e6e4e4;
    --gray-500: #808080;
    --gray-800: #494D4B;
  
    --green-400: #04D361;
    --green-500: #029946;
    --green-600: #03803b;
    
    --purple-300: #9F75FF;
    --purple-400: #9164FA; 
    --purple-500: #8257E5;
    --purple-800: #6F48C9;

    --light-border:#cfcece;

    --primary: #232931;
    --primary-light: #313944;

    --blue:#0053C9;
    --blue-wa:#2CA0E3;
    --black: #000000;

    --red: #d32626;
    --red-400: #b61c1c;
    --red-500: #940505;

    --media-desktop: "only screen and (max-width : 1024px)";
    --media-tablet: "only screen and (max-width : 768px)";
    --media-mobile: "only screen and (max-width : 600px)";
    --media-mobile-sm: "only screen and (max-width : 480px)";
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


@media (max-width: 1366px) {
    html {
        font-size: 80%;
    }
 }

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;// 15px
    }
 }

 @media (max-width: 720px) {
    html {
        font-size: 87.5%;// 14px
    }
 }

body {
    background: var(--gray-50);
}

hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color:var(--blue-wa); /* old IE */
}

body, input, textarea, button {
    font: 500 1rem iNTER,  sans-serif;
    color: var(--gray-500);
    
}

h1, h2, h3 ,h4 ,h5 ,h6 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--gray-800);
}

h1 {
    font-size:2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}
