.headerContainer {
    overflow: hidden;
    background-color: var(--white);
    height: 5rem;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.1rem solid var(--gray-100);
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, .1);
    z-index: 3;

    .logo {
        width: 8rem;
        cursor: pointer;
    }

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1rem solid var(--gray-100);
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
    }


}

.navLinks {
    display: inline;
    margin-left: auto;
    float: right;
    font-size: 1.1rem;
    font-weight: 800;
    align-items: center;
    text-align: center;

    .onlyText {
        display: inline-block;
        height: 3rem;
        width: 8rem;
        margin-left: 3rem;
        padding: 0.9rem 0.7rem 0.9rem 0.7rem;
        text-decoration: none;
        border-radius: 4rem;
        background-color: var(--white);
        color: var(--blue-wa);
        border: var(--blue-wa) solid 1px;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--blue);
            color: var(--white);
        }
    }

    .userName{
        display: inline-block;
    }

    .withBorder {
        display: inline-block;
        margin-left: 3rem;
        height: 3rem;
        width: 8rem;
        padding: 0.9rem 0.7rem 0.9rem 0.7rem;
        border-radius: 4rem;
        border: var(--blue-wa) solid 1px;
        text-decoration: none;
        background-color: var(--blue-wa);
        color: var(--white);
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--blue);
            color: var(--white);
        }
    }

    .dropdown {

        position: relative;
        display: inline-block;

        .dropbtn {
            border: none;
            cursor: pointer;
        }

        .dropdownContent {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            a {
                font-size: 12px;
                color: black;
                padding: 8px 8px;
                text-decoration: none;
                display: block;
            }

            a:hover {
                background-color: #d6d6d6
            }
        }

        &:hover {

            background-color: aquamarine;
            .dropdown-content {
                display: block;
            }

        }
    }


}