.container {

    width: 100%;
    padding: 0rem 1rem;
    padding-bottom: 2rem;

    h1 {
        font-weight: 800;
        align-items: center;
        text-align: center;
    }


    .content {

        .details {

            .button {
                margin: .5rem;
                height: 3rem;
                padding: 0.9rem 0.7rem 0.9rem 0.7rem;
                border-radius: 4rem;
                border: var(--blue-wa) solid 1px;
                text-decoration: none;
                background-color: var(--blue-wa);
                color: var(--white);
                transition: background-color 0.3s;

                &:hover {
                    background-color: var(--blue);
                    border: var(--blue) solid 1px;
                    color: var(--white);
                }
            }

            .filters {
                width: 70%;
                display: flex;
                // padding-top: 1rem;
                // padding-right: 1rem;

                input[type=text] {
                    margin-right: 1rem;

                    height: 2.6rem;
                    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
                    padding: .5rem;
                    border: 1px solid var(--light-border);

                    // &:focus {
                    //    box-shadow: 1px 1px 1px 1px rgba(53, 10, 168, 0.6);
                    //    border: 1px solid blue;
                    //    outline: 0;
                    // }
                }

                input[type=checkbox] {
                    position: relative;
                    cursor: pointer;
                    margin-right: .3rem;
                }

                input[type=checkbox]:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    background-color: #c6c7c9;
                }

                input[type=checkbox]:checked:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    top: 0;
                    left: 0;
                    background-color: #1E80EF;
                }

                input[type=checkbox]:checked:after {
                    content: "";
                    display: block;
                    width: .2rem;
                    height: .5rem;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                    top: .1rem;
                    left: .3rem;
                }

                select {
                    margin-right: 1rem;
                    margin-left: 1rem;
                    height: 2.6rem;
                    border: 1px solid var(--light-border);
                    border-radius: 0.5rem;
                    outline: none;
                    padding: 0.7rem;
                }

                button {
                    cursor: pointer;
                    height: 3rem;
                    padding: 0.9rem 0.7rem 0.9rem 0.7rem;
                    border-radius: 4rem;
                    border: var(--blue-wa) solid 1px;
                    text-decoration: none;
                    background-color: var(--blue-wa);
                    color: var(--white);
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--blue);
                        border: var(--blue) solid 1px;
                        color: var(--white);
                    }
                }
            }

            .sprintList {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                border: 1px solid var(--light-border);
                border-radius: 0.5rem;
                outline: none;
                padding: 0.5rem;
            }
        }

        .board {
            font-size: 1rem;
            font-weight: 500;
            margin-top: 1rem;

            .backlog {
                margin-bottom: 1rem;
                padding: 1rem;
                width: 100%;
                border-radius: .5rem;
                background-color: white;
                border: 1px var(--light-border) solid;

                .title {
                    display: flex;
                    font-size: 1.1rem;

                    strong {
                        margin-right: 1rem;
                    }

                    .responsable {
                        display: inline;
                        margin-left: auto;
                        float: right;
                    }
                }

                .buttons {
                    button {
                        margin: .2rem;
                        font-size: .9rem;
                        // height: 1rem;
                        padding: 0.3rem;
                        border-radius: .5rem;
                        border: var(--blue-wa) solid 1px;
                        text-decoration: none;
                        background-color: var(--blue-wa);
                        color: var(--white);
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: var(--blue);
                            border: var(--blue) solid 1px;
                            color: var(--white);
                            border-radius: 1rem;
                        }
                    }
                }

                .body {
                    margin-top: .5rem;
                    flex-direction: row;
                    width: 100%;
                    height: 100%;
                    display: flex;

                    .columns {
                        display: "flex";
                        width: 33.2%;
                        background-color: white;
                        justify-content: center;

                        .task {
                            background-color: var(--light-gray);
                            display: "flex";
                            flex-direction: "column";
                            align-items: "center";
                            margin: .5rem;
                            padding: .9rem;
                            border: 1px var(--light-border) solid;
                            border-radius: .5rem;

                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                    }
                }
            }
        }

        .textNoneTicket {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
            padding-top: 5rem;
        }

    }




}

.modal {

    input[type=text] {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
        height: 2.6rem;
        border-radius: 0.5rem;
        padding: 1rem;
        border: 1px solid var(--light-border);
    }

    textarea {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        resize: vertical;
        padding: 1rem;
        width: 100%;
        border: 1px solid var(--light-border);
        border-radius: 0.5rem;
        outline: none;
    }

    select {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--light-border);
        border-radius: 0.5rem;
        outline: none;
        padding: 0.7rem;
    }

    .bottomArea {
        background-color: var(--light-border);
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        bottom: 0;
        left: 0;

        .button {
            margin: .5rem;
            cursor: pointer;
            height: 3rem;
            padding: 0.9rem 0.7rem 0.9rem 0.7rem;
            border-radius: 4rem;
            border: var(--blue-wa) solid 1px;
            text-decoration: none;
            background-color: var(--blue-wa);
            color: var(--white);
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--blue);
                border: var(--blue) solid 1px;
                color: var(--white);
            }
        }

        .buttonRed {
            margin: .5rem;
            cursor: pointer;

            height: 3rem;
            min-width: 3rem;
            padding: 0.9rem 0.7rem 0.9rem 0.7rem;
            border-radius: 4rem;
            border: var(--red) solid 1px;
            text-decoration: none;
            background-color: var(--red);
            color: var(--white);
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--red-400);
                border: var(--red-400) solid 1px;
                color: var(--white);
            }
        }
    }
}