.defaultLayout {
    display: flex;
    position: relative;
    main {
        flex: 1;
        margin-top: 3rem;

        .closeButton{
            margin-top: 2.5rem;
            margin-left: 2.5rem;
            float: left;
            font-weight: 800;
            padding: 0.9rem 0.7rem 0.9rem 0.7rem;
            border-radius: 4rem;
            border: none;
            text-decoration: none;
            background-color: var(--gray-50);
            color: var(--light-blue);
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: var(--blue);
                color: var(--white);
            }
            
        }
    }
}